part3/src/main/mule/part3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sns="http://www.mulesoft.org/schema/mule/sns"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/sns http://www.mulesoft.org/schema/mule/sns/current/mule-sns.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<sns:config name="Amazon_SNS_configuration" doc:name="Amazon SNS configuration" doc:id="820ed13a-533b-479c-b321-7254d74f97b7" >
		<sns:basic-connection testTopic="arn:aws:sns:ap-south-1:211556697089:apisero-noida" accessKey="AKIAJWKZDPLHRO4WPP7A" secretKey="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" region="AP_SOUTH_1" />
	</sns:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7039df48-d658-4320-92c1-b4e0f0e0da46" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="getNotification" doc:id="2366f46c-22f6-44ac-b93a-18436bb992b8" >
		<http:listener doc:name="Listener" doc:id="6b5bd441-5540-447c-bf0f-2fee7c9f9367" config-ref="HTTP_Listener_config" path="/get"/>
		<logger level="INFO" doc:name="Logger" doc:id="8eb85584-e4c7-4dd2-a833-04a54be3e180" message="#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="aa431fab-3b76-49be-a7e0-49e63cdea254" />
	</flow>
</mule>
